.sidebar {
  background: white;
  height: 100vh;
  width: 240px;
  border-right: 1px solid #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px 0;
  cursor: pointer;
  font-size: 14px;
}

.sidebar-menu .active {
  color: #5a4fcf;
  font-weight: bold;
}

.sidebar-footer {
  bottom: 20px;
}

.sidebar-user {
  display: flex;
  align-items: center;
}

.sidebar-user img {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.signout-btn {
  background: none;
  border: none;
  color: red;
  margin-top: 10px;
  cursor: pointer;
}
